/*
Project Name: Week3
Client: Relxar
Author: Zhenjie
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/******************************************
/* LANDING PAGE LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 90%;
  margin: 0 auto;
  width: 1024px;
}

.headerbar{
  background-color:#033048;
  padding:15px 60px;
}


.logo {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}

.nav_bar{
  float: right;
  display:inline-block;
  color: #f9e42e;
  font-weight: 600;
  padding: 15px 15px;
}

.nav_item{
  display:inline;
  padding: 15px;
}

a {
  color: #f9e42e;
  font-weight: 600;
}

a:hover{
  color: #606161;
}

h1{
  padding:20px, 0, 0, 40px;
}

header ul li{
  list-style: none;
  display:inline;
  color: #f9e42e;
  font-weight: 600;
  padding:10px;
}


.intro {
  background: url("../images/header_bg.jpg") no-repeat top center #131e27;
  background-size: cover;
  padding: 50px 0 300px;
}

.intro h2 {
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 120px 0 90px;
  font-weight: 600;
}

.cta {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.cta-yellow {
  background: #f9e42e;
  color: #033048;
}

.cta-blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}

.benefits {
  padding: 100px 0 80px;
}

h3 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.benefits p, .benefits ul {
  width: 600px;
}

.benefits ul {
  list-style: disc;
  margin: 30px 0 0 80px;
}

.testimonial {
  background: url("../images/testimonial_bg.jpg") no-repeat top center #071324;
  background-size: cover;
  padding: 70px 0;
  color: #fff;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}

blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}

.sign-up {
  background: #f9e42e;
  padding: 30px;
  text-align: center
}

footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}

footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}

footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

/******************************************
/* BLOG PAGE LAYOUT
/*******************************************/

.two-columns{
  background-color: #f0efef;
  padding:30px 60px 80px 60px;
}

.column {
  float: left;
  margin-right: 5%;
}

.column:last-child {
  margin-right: 0;
}

.two-columns.has-sidebar .column:first-child {
  width: 66%;
}

.two-columns.has-sidebar .column:last-child {
  width: 26%;
}

h4{
  font-weight: 600;
  padding-bottom: 20px;

}

.column p, .categories ul li{
  font-weight: 300;
  font-size: 14px;
}

p.drop-cap:first-letter {
  float: left;
  font-weight: 600;
  font-size: 34px;
  margin-right: 10px;
}

.read_more p, .learn_more p{
  font-weight: 600;
  font-size: 14px;
}

.read_more p{
  float: right;
}

.learn_more {
  padding-bottom: 30px;
}

.post{
  border-bottom: 1px solid #606161;
  padding-top: 20px;
  padding-bottom: 40px;
}



h5{
  font-weight: 800;
}

.categories{
  padding-top: 20px;
  padding-bottom: 20px;
}













